{{ define "title" }} About {{ end }}

{{ define "main"}}
<br>
<div class="container">
  <h2 class="text-primary">
    Origin Story 
  </h2>
  <p class="lead">
    Nexton Frisbee Club was started during 2020 by Benjamin Bethea.
    Fighting the COVID blues, he thought an ultimate frisbee 
    group would be a great way to make some new friends in his new neighborhood and 
    get some much needed excercise while staying reasonably safe. 

    Others too shared the desire and soon it became a weekly event! 
  </p>
</div>
{{ end }}