{{ define "title" }} Ultimate {{ end }}

{{ define "main"}}
<br>
<div class="container">
  <h2 class="text-primary"> Ultimate Frisbee aka Ultimate </h2>
  <p class="lead">
    Ultimate Frisbee is a non-contact, self-officiated game which blends athletic skills of many sports like basketball, football and soccer. 
    It is a fast paced game between two teams where the 
    objective is to score by catching the disc in the opponent's end zone. 
    Key rules include: no running with the disc, a 10-second stall count for the thrower, and a strong emphasis on sportsmanship and fair play, 
    known as the 'Spirit of the Game'.
  </p>
</div>
{{ end }}